/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

a{
	text-decoration: blink;
}
.wrapper{
	width: 1000px;
	height: 630px;
	margin: 0 auto;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.top_nav{
	width: 601px;
	height: 79px;
	background-image: url("../images/top_nav.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 404px;
	top: 18px;
}
.top_link_1{
background-image: url(#);
width: 82px;
height: 24px;
position: absolute;
left: 472px;
top: 24px;
display: block;
}
.top_link_2{
background-image: url(#);
width: 82px;
height: 24px;
position: absolute;
left: 262px;
top: 24px;
display: block;
}
.top_link_3{
background-image: url(#);
width: 82px;
height: 24px;
position: absolute;
left: 67px;
top: 24px;
display: block;
}
.map-di {left: 100px;position: absolute; top: 106px; z-index: 0; display:none;}
.top_qrcode{
	position: absolute;
	top: 8px;
	left: 24px;
	width: 32px;
	height: 46px;
}
.title{
	background-image: url("../images/title.png");
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	top: 126px;
	left: 300px;
	width: 441px;
	height: 56px;
}

.line_box{
	/*
	background-image:url("../images/line.png");
	background-repeat: no-repeat;
	 */
position: absolute;
z-index: 11;
top: 378px;
width: 1000px;
height: 164px;
}
.line_1{
	background-repeat: no-repeat;
	background-image:url("../images/line_1.png");
	background-position: 0 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 340px;
	height: 164px;
}
.line_2{
	background-repeat: no-repeat;
	background-image:url("../images/line_2.png");
	background-position: -267px 0;
	position: absolute;
	top: 0px;
	left: 617px;
	width: 195px;
	height: 164px;
}
.line_3{
	background-repeat: no-repeat;
	background-image:url("../images/line_3.png");
	background-position: bottom;
	position: absolute;
	bottom: 0px;
	left: 812px;
	width: 36px;
	height: 164px;
}
.line_4{
	background-repeat: no-repeat;
	background-image:url("../images/line_4.png");
	position: absolute;
	top: 0px;
	left: 848px;
	width: 152px;
	height: 164px;
}

.icon{
	width: 74px;
	height: 110px;
	position: absolute;
	z-index: 11;
	top: 0px;
	left: 0px;
}
.icon img{
	width: 100%;
}
.icon_top{
	/*
	background-repeat: no-repeat;
	background-image:url("../images/icon_top.png");
	background-size: 100% auto;
	*/
	margin: 0 auto;
	width: 70%;
	height: 70%;
}
.icon_buttom{
	/*
	background-repeat: no-repeat;
	background-image:url("../images/icon_buttom.png");
	background-size: 100% auto;
	*/
	position: absolute;
	bottom: 0px;
	margin-left: -40%;
	left: 50%;
	width: 80%;
	height: 35%;
}
.icon_1{
	width: 74px;
	height: 110px;
	top: 33px;
	left: 14px;
}
.icon_2{
	width: 36px;
	height: 60px;
	top: 33px;
	left: 198px;
}
.icon_3{
	width: 50px;
	height: 85px;
	top: 52px;
	left: 724px;
}
.icon_3{
	width: 50px;
	height: 85px;
	top: 50px;
	left: 726px;
}
.icon_4{
	width: 25px;
	height: 45px;
	top: 45px;
	left: 828px;
}
.icon_5{
	width: 123px;
	height: 200px;
	top: 54px;
	left: 940px;
}
.map{
	position: absolute;
	z-index: 0;
	top: 133px;
	left: 178px;
	width: 615px;
	height: 420px;
	overflow: hidden;
}
.map_bg{
	background-image:url("../images/bg2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	z-index: 10;
	width: 615px;
	height: 420px;
}
.map_oil{
	/*
	background-image: url("../images/s.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
	*/
	position: absolute;
	top: 150px;
	left: 70px;
	z-index: 9;
	width: 400px;
	height: 300px
}
.map_oil img{
	width: 100%;
}
.footer{
	width: 720px;
	height: 130px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -360px;
	z-index:222;
}
.iconoil{
	width: 126px;
	height: 110px;
	position: absolute;
	background-image: url("../images/addoil.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	left: 50%;
	bottom: 10px;
	margin-left: -74px;
}
.select_left{
	margin-top: 30px;
	width: 270px;
	height: 80px;
	position: absolute;
	top: 14px;
	left: 24px;
	z-index: 11;
}
.auto_city_1{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #6F4215;
	display: block;
	margin-bottom: 2px;
	margin-left: 8px;
}
.select_1{
	cursor:pointer;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #6F4215;
	width: 230px;
	height: 30px;
	border-radius: 15px;
	padding-left: 14px;
	outline: none;
	background-color: white;
	border-color: rgb(169, 169, 169);
	border-style: solid;
	border-width: 1px;
	padding-top: 3px;
}
.select_right{
	margin-top: 40px;
	width: 270px;
	height: 80px;
	position: absolute;
	top: 3px;
	right: 0px;
	z-index: 11;
}
.auto_city_2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #6F4215;
	display: block;
	margin-bottom: 2px;
	margin-left: 8px;
}
.select_2{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #6F4215;
	width: 230px;
	height: 30px;
	border-radius: 15px;
	padding-left: 14px;
	outline: none;
	background-color: white;
	border-color: rgb(169, 169, 169);
	border-style: solid;
	border-width: 1px;
	padding-top: 3px;
	cursor: pointer;
}
.city_list{
	width: 228px;
	overflow:hidden;
	position: absolute;
	z-index: 20;
	bottom: 58px;
	display: none;
}
.city_list.active{
	display: block;
}
.list_icon{
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../images/list_icon.png");
	background-repeat: no-repeat;
	background-position: 7px 4px;
	float: right;
	margin-right: 12px;
	-moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	transition: transform .5s;
	-moz-transition: transform .5s; 
	-webkit-transition: transform .5s;
	-o-transition: transform .5s;
}
.list_icon.active{
	cursor: pointer;
	-moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.region_list{
	width: 234px;
	background-color: white;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-webkit-opacity: 0.8;
	opacity: 0.8;
	border-radius: 10px;
}
.region_list .region{
	width: 234px;
	height: 40px;
	border-bottom: 1px solid #E5E5E5;
	color: #704115;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-top: 10px;
	padding-left: 26px;
	cursor: pointer;
	overflow:hidden;
}
.region_list .region.active{
	height: auto;
	cursor: auto;
}
.adds_list{
	display: none;
}
.adds_list.active{
	display: block;
}
.adds_list li a{
	color: #5D5D5D;
	text-decoration: blink;
	width: 100%;
	height: 100%;
	display: block;
}
.adds_list a:hover{
	color: red;
}
.adds_list li:hover:before{
	background-color: red;
}
.adds_list li{
	width: 86%;
	height: 32px;
	border-bottom: 1px solid #E5E5E5;
	padding-top: 6px;
	font-size: 14px;
}
.adds_list li:last-child(1)
{ 
	border-bottom: none;
}
.adds_list li:before{
	content: " ";
	width: 3px;
	height: 3px;
	background-color: #A2A2A2;
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px;
}
.adds_list_0{
}




#bian2 { background:url(../images/zhuquan_bianyan.png) bottom;bottom: 90px;
    height: 200px;
    left: 34px;
    position: absolute;
    width: 340px;}

.select_left_all {background-color: #FFFFFF;
opacity:.8;
filter:alpha(opacity:80);
    border-radius: 10px;
    bottom: 58px;
    overflow: hidden;
    position: absolute;
    width: 234px; display:none;}
.select_left_all li {border-bottom: 1px solid #E5E5E5;
    color: #704115;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 40px;
    padding-left: 26px;
    padding-top: 10px;
    width: 234px;}
.morebtn{
	width: 146px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 12;
	margin-top: -44px;
	margin-left: 196px;
	background-image: url('../images/pc_btn.png');
	background-repeat: no-repeat;
	display: none;
}
.more_link{
	display: block;
	width: 100%;
	height: 100%;
}
/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}
